ul.q{
	list-style-type: disc;
}
#s{
	font: 

}
#red{
	 font: bolder 16px 微软雅黑;
	color: #65a7d0;
}
#j{
	background-image: url(images/pic_foot_bg.gif);
	height: 30px;
}
#t{
	background-image: url(images/butbg.gif);
	background-repeat: no-repeat;
	height: 200px;
	width: 300px;
}
#u{
	background-image: url(images/news_bg.gif);
	background-repeat: no-repeat;
	

}